# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# macOS
.DS_Store

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# Database
*.db

# FAISS index (optional)
*.index